<html>
  <head>
    <title>Report</title>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <p>Hello,</p>
          <p>This week's report can be found <a href=<%= @report.public_url %>>here</a>.</p>
        </td>
      </tr>
    </table>
  </body>
</html>
