<html>
  <head>
    <title>Report</title>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <p>Hello,</p>
          <p>This week there were <%= @quest_errors.length %> quest errors and <%= @resource_errors.length %> resource errors.</p>
          <% if @quest_errors.length > 0 %>
            <p>The quest report can be found <a href=<%= @quest_csv.public_url %>>here</a>.</p>
          <% end %>
          <% if @resource_errors.length > 0 %>
            <p>The resource report can be found <a href=<%= @resource_csv.public_url %>>here</a>.</p>
          <% end %>
          <% if @quest_errors.length > 0 || @resource_errors.length > 0 %>
            <p>Once you open the file, follow these steps to access it:</p>
            <ol>
              <li>Go to the File menu and select the option "Save Page As".</li>
              <li>Choose the file format as "comma-separated values".</li>
              <li>Save to your local machine.</li>
              <li>You can now open the file using excel (if you have it installed) or upload to Google Drive and "Open with" Google Sheets.</li>
            </ol>
            <p>Go to QuestMaker to update these links at your earliest convenience.</p>
          <% end %>
          <p>-The Quest Forward Team</p>
        </td>
      </tr>
    </table>
  </body>
</html>
